
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);


body {  
  font: normal 16px "Century Gothic", Arial, sans-serif;
  color:white;
  background-color: black;
}

.jumbotron {
	background-color: black;
}


.col-type {
	color:black;
	padding:15px;
	height:900px;
}

@media screen and (min-width:0px) { 
	.col-main1 { padding-left:10px; padding-right:2px; }
	.col-main2 { padding-left:2px; padding-right:10px; }
}

@media screen and (min-width:1170px) { 
	.col-main1 { padding-left:10px; padding-right:10px; }
	.col-main2 { padding-left:10px; padding-right:10px; }
}

@media screen and (min-width:0px) { #map { background-size:565px 100%;   background-position:65% center; }}
@media screen and (min-width:1170px) { #map { background-position:center center; }}

#map{
	height: 900px;
}


.col-data {
	background-color:white;
}


@media screen and (min-width:0px) {
	.data-header {
		margin-top:5px;
		margin-bottom:5px;
		font-size:30px;
	}
	.data-content {
		font-size:15px;
	}
}

@media screen and (min-width:1170px) {
	.data-header {
		margin-top:0px;
		margin-bottom:20px;
		font-size:60px;
	}
	.data-content {
		font-size:22px;
	}
}
